<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-lg-3 col-xl-2 bg-light">
      <h1 class="filter-title">Filter Cars</h1>
      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex justify-content-between">Car Model
          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#inner-box"
            aria-expanded="false" aria-controls="inner-box" id="out" onclick="outerFilter()"> <span
              class="fas fa-plus"></span>
          </button> </div>
        <div id="inner-box" class="collapsed mt-2 mr-1">
          <div class="my-1"> <label class="tick">Maruti Suzuki Swift <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">Maruti Suzuki Swift Dzire <input type="checkbox"> <span
                class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">Hyundai i10 <input type="checkbox"> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">Hyundai i20 <input type="checkbox"> <span class="check"></span>
            </label>
          </div>
          <div class="my-1"> <label class="tick">Honda City <input type="checkbox"> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">Toyota <input type="checkbox" checked> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">TATA <input type="checkbox"> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">Skoda <input type="checkbox" checked> <span class="check"></span>
            </label> </div>
        </div>
      </div>

      <div class="box border-bottom">
        <div class="box-label text-uppercase d-flex justify-content-between">Price <button class="btn ml-auto"
            type="button" data-toggle="collapse" data-target="#inner-box2" aria-expanded="false"
            aria-controls="inner-box2"><span class="fas fa-plus"></span></button> </div>
        <div id="inner-box2" class="collapsed mt-2 mr-1">
          <div class="my-1"> <label class="tick">Under 2 Lakhs <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">2-3 Lakhs<input type="checkbox"> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">3-5 Lakhs <input type="checkbox" checked> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">5-7 Lakhs <input type="checkbox"> <span class="check"></span>
            </label> </div>
          <div class="my-1"> <label class="tick">Above 7 Lakhs <input type="checkbox"> <span class="check"></span>
            </label> </div>
          <div class="multi-range-slider my-4">


            <div class="slider">
              <div class="track"></div>
              <div class="range"></div>
              <div class="thumb left"></div>
              <div class="thumb right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="box-label text-uppercase d-flex justify-content-between">Fuel Type
          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#size" aria-expanded="false"
            aria-controls="size"><span class="fas fa-plus"></span></button> </div>
        <div id="size" class="collapsed">
          <div class="my-1"> <label class="tick">Petrol <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">Diesel <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">LPG <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
        </div>
      </div>

      <div class="box">
        <div class="box-label text-uppercase d-flex justify-content-between">Body Type
          <button class="btn ml-auto" type="button" data-toggle="collapse" data-target="#bodytype" aria-expanded="false"
            aria-controls="size"><span class="fas fa-plus"></span></button> </div>
        <div id="bodytype" class="collapsed">
          <div class="my-1"> <label class="tick"> Hatchback <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">Sedan <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">SUV <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
          <div class="my-1"> <label class="tick">Wagon <input type="checkbox" checked="checked"> <span
                class="check"></span> </label> </div>
        </div>
      </div>


    </div>

    <!-- right side Panel -->
    <div class="col-sm-12 col-lg-9 col-xl-10">
      <section class="section-products">
        <div class="container">
          <div class="page-header my-3">
            <div class="header-start">
              <h1 class="h3 title">118 Used Cars in Hyderabad</h1>
            </div>
            <div class="header-end">
              <select class="from-control form-select">
                <option>SortBy: New</option>
                <option>SortBy: Old</option>
                <option>SortBy: High</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
              <div class="header">

                <h2>Popular Cars</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-1" class="single-product">

                <div class="part-1">
                  <img
                    src="https://images.carandbike.com/cms/articles/3202404/small_Citroen_C5_Aircross_1290896abb.jpg">
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-2" class="single-product">
                <div class="part-1">
                  <img
                    src="https://images.carandbike.com/cms/articles/3202404/8_2022_09_24_T04_43_18_730_Z_5850223e3e.jpg">
                  <span class="discount">15% off</span>
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-3" class="single-product">
                <div class="part-1">
                  <img src="https://images.carandbike.com/car-images/big/datsun/go/datsun-go.jpg?v=43">
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-4" class="single-product">
                <div class="part-1">
                  <img
                    src="https://images.carandbike.com/car-images/gallery/mahindra/scorpio-n/exterior/mahindra-scorpio-n-red.jpg?v=2022-07-04">
                  <span class="new">new</span>
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-1" class="single-product">
                <div class="part-1">
                  <img
                    src="https://images.carandbike.com/car-images/gallery/mahindra/scorpio-n/exterior/mahindra-scorpio-n-right-sideview.jpg?v=2022-07-04">
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-2" class="single-product">
                <div class="part-1">
                  <img
                    src="https://images.carandbike.com/car-images/gallery/mahindra/scorpio-n/exterior/mahindra-scorpio-n-sideview.jpg?v=2022-07-04">
                  <span class="discount">15% off</span>
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-3" class="single-product">
                <div class="part-1">
                  <img
                    src="https://www.carandbike.com/_next/image?url=https%3A%2F%2Fmedia.mahindrafirstchoice.com%2Flive_web_images%2Fusedcarsimg%2Fmfc%2F4377%2F530434%2Fprocessed%2Fleft_front-637981298275259013.jpg&w=3840&q=75">
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
            <!-- Single Product -->
            <div class="col-md-6 col-lg-4 col-xl-3">
              <div id="product-4" class="single-product">
                <div class="part-1">
                  <img
                    src="https://www.carandbike.com/_next/image?url=https%3A%2F%2Fmedia.mahindrafirstchoice.com%2Flive_web_images%2Fusedcarsimg%2Fmfc%2F4387%2F532901%2Fprocessed%2Fleft_front-637994371113849220.jpg&w=3840&q=75">
                  <span class="new">new</span>
                  <ul>
                    <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
                    <li><a href="#"><i class="fas fa-heart"></i></a></li>
                    <li><a href="#"><i class="fas fa-plus"></i></a></li>
                    <li><a href="#"><i class="fas fa-expand"></i></a></li>
                  </ul>
                </div>
                <div class="part-2">
                  <h3 class="product-title">2020 Tata Altroz XZ 1.2</h3>
                  <h4>20,476km, <i class="fas fa-fw fa-user fa-sm fa-fw mr-2 text-gray-400"></i> 1st Owner </h4>
                  <p>Truebil Cars Hub, D-Mart, Kavuri Hills...</p>
                  <h4 class="product-old-price">₹7.62L</h4>
                  <h4 class="product-price">₹7.24L</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
  </div>
</div>

<!-- <script>
  

// For Range Sliders
var inputLeft = document.getElementById("input-left");
var inputRight = document.getElementById("input-right");

var thumbLeft = document.querySelector(".slider > .thumb.left");
var thumbRight = document.querySelector(".slider > .thumb.right");
var range = document.querySelector(".slider > .range");

var amountLeft = document.getElementById('amount-left')
var amountRight = document.getElementById('amount-right')

function setLeftValue() {
var _this = inputLeft,
min = parseInt(_this.min),
max = parseInt(_this.max);

_this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 1);

var percent = ((_this.value - min) / (max - min)) * 100;

thumbLeft.style.left = percent + "%";
range.style.left = percent + "%";
amountLeft.innerText = parseInt(percent * 100);
}
setLeftValue();

function setRightValue() {
var _this = inputRight,
min = parseInt(_this.min),
max = parseInt(_this.max);

_this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 1);

var percent = ((_this.value - min) / (max - min)) * 100;

amountRight.innerText = parseInt(percent * 100);
thumbRight.style.right = (100 - percent) + "%";
range.style.right = (100 - percent) + "%";
}
setRightValue();

inputLeft.addEventListener("input", setLeftValue);
inputRight.addEventListener("input", setRightValue);

inputLeft.addEventListener("mouseover", function () {
thumbLeft.classList.add("hover");
});
inputLeft.addEventListener("mouseout", function () {
thumbLeft.classList.remove("hover");
});
inputLeft.addEventListener("mousedown", function () {
thumbLeft.classList.add("active");
});
inputLeft.addEventListener("mouseup", function () {
thumbLeft.classList.remove("active");
});

inputRight.addEventListener("mouseover", function () {
thumbRight.classList.add("hover");
});
inputRight.addEventListener("mouseout", function () {
thumbRight.classList.remove("hover");
});
inputRight.addEventListener("mousedown", function () {
thumbRight.classList.add("active");
});
inputRight.addEventListener("mouseup", function () {
thumbRight.classList.remove("active");
});
});
</script> -->
