.carousel-item img{
    width: 100%;
    height: 500px;
}
.carousel-dark .carousel-caption {
    color: #FFF;
}
.make-name{
    font-size: 18px;
    font-weight: 500;
    color: #666;
    padding-right: 10px;
}

ngb-carousel .picsum-img-wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }
  
  ngb-carousel .picsum-img-wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }