<div class="container-fluid">
  <div class="row my-3">
    <div class="col-sm-12 col-lg-5">
      <div *ngIf="disp">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <ngb-carousel  #carousel [interval]="5000">
            <ng-container *ngFor="let img of variantImageList">
              <ng-template ngbSlide>
                <img [src] = "img['variantImageData']" width="100%" height="600" alt="Random first slide">
                <div class="carousel-caption">
                    <!-- <h3>First slide label</h3> -->
                    <p>{{img['variantImageView']}}.</p>
                </div>
              </ng-template>
            </ng-container>
          </ngb-carousel>
        </div>        
      </div>
      <!-- <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div *ngIf="disp">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img
              [src] = "carData['variantImage']['variantImageData']" 
                class="d-block " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Exterior</h5>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img
              [src] = "variantInteriorImage['variantImageData']" 
                class="d-block " alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Interior</h5>
              </div>
            </div>
          </div>
        </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Add On -->
      <div>
        <h4 class=" border-bottom pb-3"><span class="make-name">Model: </span>{{carData['model'] != undefined ? carData['model']['make'] != undefined ?  carData['model']['make']['makeName'] +" "+ carData['model']['modelName'] +" "+carData['model']['bodyType']['bodyTypeName']:'-' : '-'}}</h4>
        <h5>{{carData['variantName'] != undefined ? carData['variantName'] : '-'}}</h5>
        <p>Mileage: <b>{{carData['variantMileage'] != undefined ? carData['variantMileage'] : '-'}}</b></p>
          <p>Old Meter Reading: <br><b>{{carData['varaintKilometersDriven'] != undefined ? carData['varaintKilometersDriven'] +' miles' : '-'}}</b></p>
          <p>Price : <br><b>{{carData['variantPricePerKm'] != undefined ? carData['variantPricePerKm'] : '-'}}</b></p>
        <p>Fuel Type: <br><b>{{carData['fuelType'] != undefined ? carData['fuelType']['fuelTypeName'] : '-'}}</b></p>
        <p>Transmission Type: <br><b>{{carData['transmissionType'] != undefined ? carData['transmissionType']['transmissionTypeName'] : '-'}}</b></p>
        <p>Color: <br><b>{{carData['color'] != undefined ? carData['color']['colorName'] : '-'}}</b></p>
      </div>

    </div>

        <!-- Variant Desc -->
    <div class="col-sm-12 col-lg-4">
      
      <spinner id="rainfallSpinner3" [show]="mapLoaderActive"></spinner>

    
    
      <div class="accordion mt-3 " id="accordionExample">

        <div class="accordion-item"  *ngFor="let  item of addOnList">
          <h2 class="accordion-header" [id]="'#Id'+item['addOnId']">
            <button (click)="setActiveClass(item)" class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
             [attr.data-target]="item['addOnId']" aria-expanded="true" >
              {{item['addOnName']}}
            </button>
          </h2>
          <div [id]="item['addOnId']"  [hidden]="!item['isVisible']" class="accordion-collapse collapsed" 
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <div class="row">
                <div class="col-lg-12">
                  <p> <input type="checkbox" [name] ="item['addOnName']" (change)="onAddOnChange($event,item)" [checked]="item['isVisibile']"> <span class="check"></span>
                    <b class="ps-2">Description : </b> {{item['addOnName']+"  "+ item['addOnDescription']}}</p>
                  <p> 
                    <b>Price Information : </b> {{ item['addOnValue']+" "+item['addOnComputeStrategy']}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-sm-12 col-lg-4 mt-3">
          <button *ngIf="!showUpdate" (click)="addToCart()" class="btn btn-primary me-2"> Add to Cart</button>
          <button *ngIf="showUpdate" (click)="updateCart()" class="btn btn-primary me-2"> Update Cart</button>
          <button (click)="bookNow()" class="btn btn-success"> Book Now</button>
        </div>
      </div>
    </div>



        <!-- Submit Buttons-->


  </div>
</div>